name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Login Dockerhub
      env:
        DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD

    - name: Build Docker images
      run: docker-compose build

    - name: Push all images
      run: |
        docker push ilurdo2022/hydex-bridge-custody:latest
        docker push ilurdo2022/hydex-enclave:latest
        docker push ilurdo2022/hydex-bridge-api:latest
