name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Pull Docker images
      run: |
        sudo docker pull ilurdo2022/hydex-bridge-custody:latest
        sudo docker pull ilurdo2022/hydex-enclave:latest
        sudo docker pull ilurdo2022/hydex-bridge-api:latest

    - name: Stop existing containers
      run: sudo docker compose down || true

    - name: Start services
      run: sudo docker compose up -d

    - name: Show running containers
      run: sudo docker ps