name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Login Dockerhub
      env:
        DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD

    # Build all images with docker-compose
    - name: Build Docker images
      run: docker-compose build

    # Tag and push each image
    - name: Tag and Push bridge-custody
      run: |
        docker tag bridge-custody:latest ilurdo2022/hydex-bridge-custody:latest
        docker push ilurdo2022/hydex-bridge-custody:latest

    - name: Tag and Push enclave
      run: |
        docker tag app-setup-enclave:latest ilurdo2022/hydex-enclave:latest
        docker push ilurdo2022/hydex-enclave:latest

    - name: Tag and Push bridge-api
      run: |
        docker tag app-setup-bridge-api:latest ilurdo2022/hydex-bridge-api:latest
        docker push ilurdo2022/hydex-bridge-api:latest
